/*.q{
    -fx-background-image: url('fefeg12.png');   
    -fx-background-color: rgba(255, 0, 255, 0.5);
}*/
/*> .viewport*/

.q > .viewport{
    -fx-background-image: url('woodBack.png');
}

.menu-bar{
 -fx-background-image: url('woodMenu.jpg');
}

.menu-bar .label{
 -fx-color: #000000 ;
}

.context-menu{
    -fx-color: #FFFFFF;
    -fx-background-image: url('woodMenu.jpg');
}

.context-menu .label{
    -fx-color: #000000;
    
}

/*.menu-button .label {
 -fx-background-color:black; }*/